* {
	box-sizing: border-box;
}

@import "susy";

$susy: (
	columns: 12,
	gutters: .4,
	global-box-sizing: border-box
);

body {
	overflow-y: scroll;
	font-family: sans-serif;
	line-height: 1.6em;
	color: $text-color-dark;
	margin: 0;
}