---
title: "Home"
---

<video autoplay loop class="video-bg" muted>
	<source src="video/video.mp4" type="video/mp4">
</video>

<!--canvas class="canvas-bg"></canvas-->

<div class="container">
	<div class="row">
		<h2>Content</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt exercitationem laborum pariatur non qui possimus illo similique dolores quos, accusamus veniam inventore provident et labore, vel, distinctio vitae aliquid. Sint.</p>	
	</div>
</div>